/* HIDE TASK LIST */
.task-list {
  display: none;
}

/* HIDE MY JOURNAL */
.journal-grid {
  display: none;
}

/* STYLE THE NAVIGATION MENU */
.page-navigation {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none; /* Remove bullets */
    background-color: #dcdcdc;
    padding: 15px;
    align-items: center;
    font-size: 12px;
    color: white;
  }
  
  /* HIDE THE TOP NAVIGATION BAR FOR TABLET AND MOBILE  */
  /* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
  /* HIDE PAGE NAVIGATION (TOP MENU LIST) */
  @media screen and (max-width: 320px) {
    .page-navigation {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
  /* HIDE PAGE NAVIGATION (TOP MENU LIST) */
  @media screen and (max-width: 480px) {
    .page-navigation {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS TABLET PORTRAIT */
  /* HIDE PAGE NAVIGATION (TOP MENU LIST) */
  @media screen and (max-width: 768px) {
    .page-navigation {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS TABLET LANDSCAPE */
  /* HIDE PAGE NAVIGATION (TOP MENU LIST) */
  @media screen and (max-width: 1024px) {
    .page-navigation {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS DESKTOP */
  /* HIDE PAGE NAVIGATION (TOP MENU LIST) */
  @media screen and (max-width: 1280px) {
    .page-navigation {
      display: none;
    }
  }
  
  .topnav {
    display: block;
    position: absolute;
    justify-self: right;
    text-align: right;
    padding: 10px;
  }
  
  #topMenu {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #dcdcdc;
    z-index: 1;
  }
  
  /* STYLE THE LINKS IN HAMBURGER DROPDOWN */
  .topnav a {
    color: #ffffba;
    font-size: 20px;
    display: block;
    justify-self: right;
  }
  
  /* HIDE myLinks UNTIL HAMBURGER IS CLICKED */
  #myLinks {
    display: none;
    position: relative;
    justify-self: right;
    color: white;
  }
  
  /* CHANGE HAMBURGER SYMBOL AND LINK COLOUR ON MOUSE-OVER */
  .topnav a:hover {
    color: hotpink;
    background-color: white;
  }
  
  /* END HAMBURGER MENU */
  
  /* HIDE HAMBURGER MENU FOR DESKTOP  */
  @media screen and (min-width: 1280px) {
    .topnav {
      display: none;
    }
  }
  
  h1 {
    font-size: 50px;
    color: white;
  }
  
  h2 {
    font-size: 30px;
    color: black;
  }
  
  h3 {
    font-size: 25px;
    color: black;
  }
  
  .topflexbox {
    display: grid;
  }
  
  .exclude-menu {
    background-image: url("https://i.imgur.com/ZTLB4n8.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 10px;
  }
  
  /* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
  /* HIDE LIMERICK */
  @media screen and (max-width: 320px) {
    .topflexbox-limerick {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
  /* HIDE LIMERICK */
  @media screen and (max-width: 480px) {
    .topflexbox-limerick {
      display: none;
    }
  }
  
  /* TABLET RESPONSIVENESS */
  /* CHANGE LIMERICK FONT SIZE FOR TABLET */
  
  .topflexbox-limerick {
    font-size: 18px;
    font-style: italic;
    color: black;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    align-self: flex-end;
    opacity: 0.8;
  }
  
  /* TABLET RESPONSIVENESS */
  /* CHANGE LIMERICK FONT SIZE FOR TABLET */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .topflexbox-limerick {
      font-size: 14px;
      font-style: italic;
      color: black;
    }
  }
  
  .happening-now-section {
    margin-top: 30px;
  }
  
  .season-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
  }
  
  .season {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
  }
  
  .Season-box img {
    display: block;
    margin: auto;
    width: 75%;
    border-radius: 5%;
  }
  
  .season-name {
    color: black;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    text-underline-offset: 15px;
    font-weight: bold;
  }
  
  /* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
  /* SEASON GRID: 1 COLUMN */
  @media screen and (max-width: 320px) {
    .season-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      padding: 15px;
    }
  }
  
  /* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
  /* SEASON GRID: 1 COLUMN */
  @media screen and (max-width: 480px) {
    .season-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      padding: 15px;
    }
  }
  
  /* MOBILE RESPONSIVENESS TABLET PORTRAIT */
  /* SEASON GRID: 2 COLUMNS */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .season-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 15px;
    }
  }
  
  /* MOBILE RESPONSIVENESS TABLET LANDSCAPE */
  /* SEASON GRID: 2 COLUMNS */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .season-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 15px;
    }
  }
  
  /* CREATE MODAL BUTTONS */
  /* MODAL BACKGROUND */
  .modal {
    display: none; /* HIDES MODAL BY DEFAULT */
    position: fixed; /* MAINTAINS MODAL IN POSITION */
    z-index: 1; /* ENSURES MODAL SITS IN FRONT OF WEATHER BANNER WHEN USER SCROLLS PAGE WITH MODAL STILL OPEN */
    /* POSITION MODAL WINDOW IN CENTRE OF SCREEN */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* CONTROL SIZE MODAL WINDOW SO IT DOESN'T TAKE UP WHOLE OF SCREEN */
    width: 80%;
    height: 50%;
    overflow: scroll; /* ALLOWS MODAL WINDOW TO SCROLL TO SEE ALL CONTENT */
    background-color: #dcdcdc;
  }
  
  .myBtn_multi {
    background-color: #dcdcdc;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 30%;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-color: #d5f5e3;
  }
  
  /* MODAL CONTENT DISPLAY: TWO COLUMNS */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  /* MODAL CONTENT DISPLAY FOR MOBILE: SINGLE COLUMN */
  @media screen and (max-width: 320px) {
    .modal-content {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 480px) {
    .modal-content {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  /* The Close Button */
  .close {
    float: right;
    font-size: 36px;
    font-weight: bold;
  }
  
  .close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* END MODAL BUTTONS */
  
  /* HAS INBUILT RESPONSIVENESS */
  .weather {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .calendar-and-moon {
    display: flex;
    justify-content: space-evenly;
    object-fit: scale-down;
    width: 100%;
    background-color: #dcdcdc;
  }
  
  /* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
  /* HIDE CALENDAR AND MOON PHASE PLANTING */
  @media screen and (max-width: 320px) {
    .calendar-and-moon {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
  /* HIDE CALENDAR AND MOON PHASE PLANTING */
  @media screen and (max-width: 480px) {
    .calendar-and-moon {
      display: none;
    }
  }
  
  /* MOBILE RESPONSIVENESS TABLET PORTRAIT */
  /* DISPLAY CALENDAR AND MOON PHASE PLANTING AS COLUMN  */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .calendar-and-moon {
      flex-direction: column;
    }
  }
  
  .calendar {
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    padding: 10px;
  }
  
  .moon-planting-desktop {
    display: flex;
    flex-direction: column;
    align-items: start;
    object-fit: scale-down;
    height: max;
    margin: 10px;
  }
  
  .moon-phase-descriptions {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .moon-image-words {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 100px;
    background-color: white;
    font-size: 16px;
  }
  
  .moon-image {
    padding: 20px;
    object-fit: fill;
    height: 80px;
  }
  
  .planning-ahead-section {
    padding: 10px;
  }
  
  .planning-ahead {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .planning-topic {
    display: flex;
    flex-direction: column;
    /*  CHANGE WIDTH FOR BETTER PRESENTATION ON DESKTOP  width: 200px;  */
    width: 300px;
    margin: 10px;
    padding: 15px;
    align-items: center;
    justify-items: start;
    text-align: center;
    font-size: 22px;
    color: black;
  }
  
  .content-smaller {
    font-size: 18px;
  }
  
  .planning-image {
    width: auto;
    height: 150px;
    object-fit: fill;
    border-bottom: 4px solid;
    border-color: #c4aead;
  }
  
  .how-do-I {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .planning-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  /* ADD TASK LIST */
  .task-list {
    font-size: 18px;
    background-color: #dcdcdc;
    padding: 10px;
  }
  
  .task-header {
    display: flex;
    background-color: #fff;
    padding: 20px 20px;
    text-align: center;
  }
  
  #myInput {
    margin: 10px;
    border: 1px #dcdcdc;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 24px;
    border-radius: 5%;
  }
  
  /* Style the "Add" button */
  .addBtn {
    margin: 10px;
    border: 100px red;
    padding: 5px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10%;
  }
  
  .addBtn:hover {
    background-color: #c4aead;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 12px 12px 12px;
    list-style-type: none;
    background: #c4aead;
    font-size: 30px;
    height: 30px;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #dcdcdc;
  }
  
  /* Style the close button */
  .close-task {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px 12px 12px;
    font-size: 30px;
    height: 30px;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  /* FINISH TASK LIST */
  
  .how-topic {
    display: flex;
    flex-direction: column;
    /*  CHANGE WIDTH FOR BETTER PRESENTATION ON DESKTOP  width: 200px;  */
    width: 300px;
    margin: 10px;
    padding: 15px;
    align-items: center;
    justify-items: start;
    text-align: center;
    font-size: 22px;
    color: black;
  }
  
  .how-image {
    width: auto;
    height: 150px;
    object-fit: fill;
    border-bottom: 4px solid;
    border-color: #c4aead;
  }
  
  .my-favourites-section {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdcdc;
  }
  
  .favourite-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    font-weight: bold;
    gap: 20px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  a:link {
    color: #686b69;
  }
  a:visited {
    color: #686b69;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a {
    font-size: 17px;
  }
  
  .my-journal {
    margin-top: 30px;
  }
  
  .my-journal-section {
    display: grid;
    padding: 20px;
  }
  
  form {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #959595;
    padding: 25px 25px 26px;
    width: max;
  }
  
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  fieldset:not(:first-child) {
    margin-top: 10px;
  }
  
  textarea {
    height: 50px;
    width: 330px;
    padding: 0;
    margin: 0;
  }
  
  /* THIS FORMATS THE FORM DATA ENTRY BOXES */
  
  input[type="text"],
  select {
    border: 1px solid #bcbcbc;
    padding: 6px;
    margin: 0;
    background: #dcdcdc;
    border-radius: 4px;
  }
  
  textarea,
  input[type="textarea"],
  select {
    border: 1px solid #bcbcbc;
    padding: 6px;
    margin: 0;
    background: #dcdcdc;
    border-radius: 4px;
  }
  
  input[type="date"],
  select {
    font-family: "Akatab";
    color: #838996;
    font-size: 24px;
    border: 1px solid #bcbcbc;
    padding: 6px;
    margin: 0;
    background: #dcdcdc;
    border-radius: 4px;
  }
  
  #submit-button {
    font-family: "Akatab";
    color: #838996;
    font-weight: bold;
    font-size: 24px;
    background: #dcdcdc;
    border: 6px solid #686b69;
    border-radius: 8px;
  }
  
  input[type="submit"],
  select {
    font-family: "Akatab";
    padding: 6px;
    margin: 0;
    background: #fff9e2;
    border-radius: 4px;
  }
  
  input[type="text"] {
    font-size: 24px;
    width: 100%;
    height: 30px;
    margin: 2px 0 0;
  }
  
  input[type="textarea"] {
    font-size: 24px;
    width: 100%;
    height: 60px;
    margin: 2px 0 0;
  }
  
  .journal-heading {
    display: flex;
    justify-content: center;
    text-align: start;
    border: 3px pink;
  }
  
  .leaves {
    height: 100px;
    padding-left: 100px;
  }
  
  .appsheet {
    width: auto;
    margin: 5px;
    border: 1px solid grey;
  }
  
  .journal-notes-display {
    /*   display: flexbox;
    flex-wrap: wrap; */
    /*   background: rgba(255, 255, 255, 0.6); */
    border: 1px solid #959595;
    padding: 25px 25px 26px;
    position: relative;
    /*   font-size: 1.5em; */
    text-align: center;
  }
  
  .footer {
    font-size: 14px;
    background-color: #dcdcdc;
    border-top: black;
    padding: 10px;
  }
  